.main-nav
    position: relative
    min-height: 51px
    width: 320px
    margin: 0 auto
    background-color: #826550

.main-nav__toggle
    position: absolute
    top: 0
    right: 0

    display: block
    width: 70px
    height: 50px
    background-color: #6a4d38

    cursor: pointer
    border: none

    &:hover,
    &:active
        background-color: #624530

.main-nav--closed
    & .main-nav__toggle:before
        content: ""

        position: absolute
        top: 15px
        left: 17px

        width: 36px
        height: 2px
        background-color: #ffffff
        box-shadow: 0px 8px 0px 0px #ffffff, 0 16px 0 0 #ffffff

    & .main-nav__toggle:active::before
        top: 16px
        background-color: #917d6e
        box-shadow: 0px 9px 0px 0px #917d6e, 0px 17px 0px 0px #917d6e

.main-nav--open .main-nav__toggle
    top: 0
    right: auto
    left: 0
    &:before,
    &:after
        content: ""

        position: absolute
        top: 24px
        left: 18px
        width: 36px
        height: 2px
        background-color: #ffffff
    &:before
        transform: rotate(45deg)
    &:after
        transform: rotate(-45deg)
    &:active:before,
    &:active:after
        background-color: #8e796a


.main-nav__list

    list-style: none
    margin: 0
    padding: 0


@media (max-width: $mobile-width-only)
    .main-nav--closed .site-list__item
        display: none
        &--active
            display: block

    .main-nav--closed .site-list__item--active a
        padding-right: 70px
        padding-left: 70px

        text-align: center

    .main-nav--closed .user-list
        display: none

    .main-nav--open .main-nav__wrapper
        position: absolute

        top: 0
        right: 0
        left: 70px
        z-index: 10
        min-height: 80vh

        background-color: #6a4d38

    .main-nav--open .main-nav__wrapper:before
        content: ""

        position: absolute

        top: 0
        left: 0
        z-index: 2

        width: 7px
        height: 100%
        box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4)
    .main-nav--nojs .main-nav__toggle
        display: none

    .main-nav--nojs .main-nav__wrapper
        position: static
        min-height: 0

    .main-nav--nojs .site-list__item
        display: block

    .main-nav--nojs .site-list__item--active a
        padding-right: 21px
        padding-left: 21px
        text-align: left
    .main-nav--nojs .user-list
        display: block
        background-color: #6a4d38


@media (min-width: $tablet-width)
    .main-nav
        width: auto
        margin: 0
    .main-nav__wrapper
        display: flex
        justify-content: space-between
        width: 640px
        margin: 0 auto


@media (min-width: $desktop-width)
    .main-nav__wrapper
        width: 960px


.site-list
    font-weight: bold

.site-list a
    display: block
    padding: 12px 21px
    padding-bottom: 13px

    font-size: 18px
    line-height: 24px
    color: #ffffff
    text-decoration: none
    text-transform: uppercase
    background-color: #826550
    border-top: 1px solid #886e5b
    border-bottom: 1px solid #71543f
.site-list a[href]
    &:hover
        background-color: #755a46
        border-top-color: #755a46
    &:active
        background-color: #6a4d38
        border-top-color: #6a4d38
        color: #978274

.user-list
    position: relative

    padding: 12px 0px 13px 45px
    display: block
    background-color: #6a4d38

.user-list__login
    color: #ffffff
    text-decoration: none
    font-size: 18px
    font-weight: 400
    line-height: 24px

.user-list__login-icon
    position: absolute
    top: 16px
    left: 18px

    width: 18px
    height: 18px
    path
        fill: #978274
        &:hover
            fill: #ffffff


@media (min-width: $tablet-width)
    .main-nav__toggle
        display: none

    .main-nav
        background-color: #000000
    .site-list
        width: 570px
        display: flex
        flex-wrap: wrap
        justify-content: flex-start

    .site-list__item
        margin-right: 20px

        &:last-child
            margin-right: 0

        &--active
            position: relative

            &:after
                content: ""

                position: absolute
                right: 0
                bottom: -3px
                left: 0

                height: 3px
                background-color: #826550

    .site-list__item a
        margin: 0
        padding: 0
        padding-top: 25px
        padding-bottom: 23px
        background: none
        border: none
        font-size: 17px

    .site-list__item a[href]
        &:hover
            color: #826550
            background-color: #000000
        &:active
            color: #ffffff

            background-color: #000000
            opacity: 0.3


    .user-list
        width: 60px
        background: none

    .user-list__login
        width: 60px
        height: 70px
        padding: 0
        font-size: 0
        &:hover .user-list__login-icon
            opacity: 1
            path
                fill: #826550

    .user-list__login-icon
        top: 26px
        left: 30px
        path
            fill: #4c4c4c



@media (min-width: $desktop-width)
    .site-list__item

        margin-right: 0
        &--active:after
            right: 28px
            left: 28px
    .site-list__item a[href]
        &:hover
            color: #000000
            background-color: #ffffff
        &:active
            color: rgba(0, 0, 0, 0.3)

            background-color: #ffffff
            opacity: 1

    .site-list__item a
        padding-left: 28px
        padding-right: 28px
        font-size: 18px
    .site-list
        width: 780px

    .user-list
        width: 160px

    .user-list__login
        position: relative
        top: 13px
        width: auto
        height: auto

        padding-left: 50px
        padding-right: 30px
        padding-top: 27px
        padding-bottom: 24px
        font-size: 18px
        line-height: 24px
        font-weight: bold
        text-transform: uppercase
        &:hover
            color: #000000
            background-color: #ffffff
        &:active
            color: rgba(0, 0, 0, 0.3)
            background-color: #ffffff
        &:hover .user-list__login-icon
            path
                fill: #000000
        &:active .user-list__login-icon
            opacity: 0.2

    .user-list__login-icon
        left: 15px
        top: 27px
